/* App */
.message-list-header {
    background-color: rgb(77, 78, 79);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.show-post-message {
    background-color: rgb(156, 157, 158);
    border-color: rgb(156, 157, 158);
    color: rgb(255, 255, 255);
}

.show-post-message:focus {
    outline: none;
}

.show-message-list {
    cursor: pointer;
}

/* Message */
.edit-message {
    cursor: pointer;
}

.message-title {
    color: rgb(63, 64, 65);
    font-weight: bold;
}

.message-date {
    color: rgb(177, 178, 179);
}

.edit-message {
    font-size: 25px;
}

.delete-message {
    font-size: 35px;
}

/* "Post message" form */

/* Common styles */
.gray-layout {
    margin-top: 5px;
    border-radius: 5px;
    background-color: rgb(241, 242, 243);
}

.divider {
    border: 0;
    border-bottom: 2px dotted rgb(228, 229, 230);
}
